name: Deploy Project

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  deploy:
    needs: test
    runs-on: windows-latest 
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Deploy
        run: echo "Deploying..."