name: Test Project
on: push
jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: action/setup-node@v6
        with:
            node-version: 24
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test